<!DOCTYPE html>
<html ng-app="App">
<head>
	<title>Angular Module Template</title>

	<link rel="stylesheet" href="build/css/module.css">

</head>
<body>

	<div ng-controller="MainCtrl as vm">
		<!-- Controller -->

		<!-- canvas -->
		<div id="spyke"></div>

		<!-- controlers -->
		<div id="controls">
			<ul>
				<li ng-repeat="control in vm.controlOutput">
					{{ control.title }}
					<ul>
						<li ng-repeat="option in control.attrs">
							{{ option.title }} : {{ option.value }}
							<button class="btn btn-danger" ng-click="vm.resetOptionValue( option )">X</button>
						</li>
					</ul>
				</li>
			</ul>
		</div>

	</div>

	<!-- bower -->
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/threejs/build/three.js"></script>

	<!-- contributor -->
	<script src="src/js/trackballcontrols.three.js"></script>
	<script src="src/js/tiltControl.three.js"></script>

	<!-- webgl -->
	<script src="src/js/module.js"></script>

	<!-- angular -->
	<script src="src/app.js"></script>
	<script src="build/views/templates.js"></script>

</body>
</html>